body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#FFF6F4;
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top: 35px;
  height: 70px;
  background-color: #151515;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("assets/capriottis-jumbotron.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text-right {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 50px;
}

.hero-text p {
  font-size: 20px;
}

.hero-text-right h1 {
  font-size: 50px;
}

.hero-text-right p {
  font-size: 20px;
}

.hero-text button {
  border: none;
  font-size: 16px;
  font-weight: 800;
  outline: 0;
  display: inline-block;
  padding: 10px 15px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #151515;
  color: white;
}

.hero-text-right button {
  border: none;
  font-size: 16px;
  font-weight: 800;
  outline: 0;
  display: inline-block;
  padding: 10px 15px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.hero-text-right button:hover {
  background-color: #151515;
  color: white;
}

#nav-img {
  position: fixed;
  z-index: 2;
  width: 240px;
  margin-left: 20px;
  margin-top: 10px;
}

.about-us {
  margin-top: 10px;
  height: 20rem;
  display: flex;
  justify-content: space-between;
}

.about-us-text {

  font-size: 20px;
  width: 30%;
  height: 100%;
  margin-left: 15%;

}

.about-us-img {
  height: 100%;
  margin-right: 15%;
}

#store-img {
  height: 100%;
}